<nav id="mainNavbar">
  <div class="navbar-left">
    <button id="hamburgerBtn">☰</button>
    <span id="logo">📚</span>
    <span id="pageTitle">Home</span>
  </div>
  <div class="navbar-right">
    <button id="logoutBtn">Logout</button>
  </div>
</nav>

<div id="hamburgerMenu" class="hidden">
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/dashboard.html">Dashboard</a></li>
    <li><a href="/charter.html">Charter</a></li>
    <li id="adminNavItem" style="display:none;"><a href="/admin.html">Admin</a></li>
  </ul>
</div>
